.footer {
    height: 100px;
    background-color: #101010;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        margin: 0;
    }
}