.user-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	margin-block-start: 40px;

	.user-preview {
		background-color: var(--clr1bg-light);
		display: grid;
		overflow: hidden;
		padding: 20px;
	}

	.user-preview-inner {
		overflow: hidden;
	}

	.user-actions {
		align-self: end;
		display: flex;
		gap: 10px;
		margin-block-end: 16px;

		button {
			margin: 0;
		}
	}
}